.app.light {
    --bg-color: #b2d3d3;
    --inverted-bg-color: #082828;
    --primary-color: #1d0f3f;
    --secondary-color: #6e86de;
    --inverted-primary-color: #2da184;
    --inverted-secondary-color: #cdde6e;
}
